doctype 5
html(class="no-js", lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/foundation.css")
    link(rel="stylesheet", href="/css/app.css")

    script(src="/js/vendor/custom.modernizr.js")

  body

    div.contain-to-grid
      nav(data-topbar).top-bar
        ul.title-area
          li.name
            h1
              a(href="/") Tastings
        section.top-bar-section
          ul.left
            li
              a(href="wines") Wines

        section.top-bar-section
          div.right
            div.user
              - if( user ) {
                div(style="background:" + user.color).swatch
                a(href="#")= user.name
              - } else {
                a(href="/users/new") Sign in
              - }

    div.large-9.large-centered.columns

      block content

    script(src="/js/vendor/jquery.js")
    script(src="/js/foundation.min.js")
    script.
        $(document).foundation();

    script(src="/socket.io/socket.io.js")
    script(src="/js/comms.js")