extends layout

block content
  h1= tasting.name

  table.large-12.columns
    tr.row
      th.large-2.columns Wine
      th.large-2.columns See
      th.large-2.columns Smell
      th.large-2.columns Swirl
      th.large-2.columns Sip
      th.large-2.columns Savor
    each wine in tasting.wines
      tr(data-wine=wine.id).row.tasting-sheet
        td.large-2.columns
            a(href="/wine/" + wine.id)= wine.prettyName()
        td.large-2.columns
          div.descriptions.see
          input(type="text").descriptor
        td.large-2.columns
          div.descriptions.smell
          input(type="text").descriptor
        td.large-2.columns
          div.descriptions.swirl
          input(type="text").descriptor
        td.large-2.columns
          div.descriptions.sip
          input(type="text").descriptor
        td.large-2.columns
          div.descriptions.savor
          input(type="text").descriptor
  
  a(href="#")#add-wine.button Add wine
  form(method="post", action="/tasting/" + tasting.id)
    select(name="newwine", id="newwine")
      each wine in wines
        option(value=wine.id)= wine.prettyName()
    input(type="submit", value="Add").button