.descriptor {
    border: 1px solid #ccc;
}

.colors .color {
    width: 2em; height: 1em;
    display: inline-block;
    text-indent: -99999px;
}

.swatch {
    width: 1em; height: 1em;
    display: inline-block;
    margin-right: 0.5em;
}

.comment {
    color: #fff;
}

.descriptions .label {
    margin-right: 0.1em;
    margin-bottom: 0.1em;
    white-space: normal;
    border-bottom: none;
}

.wine-description {
    margin-top: 0.3rem;
    font-size: 0.9em;
}

.wine-description dt {
    font-weight: normal;
    float: left;
    margin-right: 0.2em;
}

.wine-description dt::after {
    content: ":";
}

.wine-description dd {
    font-style: italic;
    margin-bottom: 0.3rem;
}
