.tasting-sheet td {
    padding-bottom: 2em;
    vertical-align: bottom;
}

.descriptor {
    position: relative;
    top: 2em; left: 0;
    border: 1px solid #ccc;
}

.colors .color {
    width: 2em; height: 1em;
    display: inline-block;
    text-indent: -99999px;
}

.swatch {
    width: 1em; height: 1em;
    display: inline-block;
    margin-right: 0.5em;
}

.comment {
    color: #fff;
}