.tasting-sheet td {
    vertical-align: bottom;
}

.descriptor {
    border: 1px solid #ccc;
}

.colors .color {
    width: 2em; height: 1em;
    display: inline-block;
    text-indent: -99999px;
}

.swatch {
    width: 1em; height: 1em;
    display: inline-block;
    margin-right: 0.5em;
}

.comment {
    color: #fff;
}

.label {
    margin-right: 0.1em;
    margin-bottom: 0.1em;
    white-space: normal;
}